@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

hr {
  width: 60px;
  height: 5px;
  background-color: #fb774b;
}
button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transform: 0.3 ease;
}
button:hover {
  background-color: #676666;
}

a {
  text-decoration: none !important;
}
.navbar {
  font-size: 16px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  height: 100px;
}
.navbar-nav .nav-link {
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
  margin: 0 20px;
  font-size: 18px;
}
.navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-nav .nav-link .active {
  color: coral;
}
.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  cursor: pointer;
  font-weight: 500;
}

.home span {
  color: coral;
}
.home {
  background-image: url("img/back.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top 60px center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* featured product */
.product {
  cursor: pointer;
  margin-bottom: 2rem;
  overflow: hidden;
}
.product .product_name,
.product .product_price {
  color: #1d1d1d;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none !important;
}
.product img {
  width: 100%;
  transition: 0.3s all;
}
.product:hover img {
  opacity: 0.7;
  transform: scale(1.1);
}
.product .btn-product {
  width: 100%;
  opacity: 0;
  transform: translateY(20px);
  background: coral;
  transition: 0.3s all;
}
.product:hover .btn-product {
  opacity: 1;
  transform: translateY(0);
}
.star i {
  font-size: 0.8rem;
  color: goldenrod;
}
/*Footer*/
footer {
  margin-top: 80px;
  background-color: #222;
}
.footer-one p,
.footer-one li a {
  color: #999999;
}
.footer-one .text-uppercase,
.footer-one h5 {
  color: #ffffff;
}
.text-nowrap {
  color: #999999;
}
.icon-social a i {
  padding-left: 8px;
  padding-top: 5px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  color: #1d1d1d;
}

/*product detail*/
.small-img-group {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.img-small {
  padding: 0 5px;
}
.product-size {
  display: block;
  width: 100px;
  height: 30px;
}
.sproduct input {
  width: 40px;
  height: 20px;
  margin-right: 10px;
}
.btn-prd {
  background-color: coral;
  transition: 0.3s ease;
}

/*Blog*/
.post .post-img {
  overflow: hidden;
  cursor: pointer;
}
.post:hover img {
  transition: 0.3s ease;
}
.post:hover img {
  transform: scale(1.3) rotate(-10deg);
  opacity: 0.8;
}
.post h3,
.post h4 {
  transition: 0.3s ease;
  cursor: pointer;
}
.post:hover h4,
.post:hover h3 {
  color: coral;
}

/*cart*/
.cart .table thead td {
  font-weight: bold;
  color: #ffffff;
}
.cart .table thead {
  background-color: coral;
  text-align: center;
}

.cart table tbody tr td {
  border: 1px solid #676666;
  text-align: center;
}
.cart table tbody tr img {
  width: 100px;
  height: 80px;
}
.cart table tbody td:nth-child(1) {
  width: 100px;
}
.cart table tbody td:nth-child(2),
.cart table tbody td:nth-child(3) {
  width: 200px;
}
.cart table tbody td:nth-child(4),
.cart table tbody td:nth-child(5),
.cart table tbody td:nth-child(6) {
  width: 150px;
}
.cart table tbody td i {
  color: #676666;
}

/*Login*/

.login-block {
  background: #de6262; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffb88c,
    #de6262
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffb88c,
    #de6262
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}
.banner-sec {
  background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg)
    no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.login-block .container {
  margin-top: 50px;
  padding-top: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec .copy-text i {
  color: #feb58a;
}
.login-sec .copy-text a {
  color: #e36262;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #de6262;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #feb58a;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: #de6262;
  color: #fff;
  font-weight: 600;
}
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
}
.content2 {
  padding-top: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.breadcrumb {
  text-align: center;
  margin-block: 40px 20px;
}

.breadcrumb a {
  text-decoration: none;
  color: #121212;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.breadcrumb a:hover {
  color: rgb(253, 74, 74);
}

.breadcrumb-title {
  text-decoration: none;
  color: rgb(157, 157, 157);
  font-size: 16px;
  font-weight: 600;
}

.section__info {
  display: flex;
}

.section__info--menu {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}

.info--menu__img--box {
  width: 200px;
  height: 200px;
  border: 50%;
  margin-bottom: 20px;
}

.info--menu__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info--menu__username--box {
  margin-bottom: 20px;
}

.info--menu__username {
  font-size: 20px;
  font-weight: 600;
}

.info--menu__function {
  margin-block: 20px;
  margin-top: 45px;
}

.info--menu__function--box {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.info--menu__function--box:hover .info--menu__function--link,
.info--menu__logout:hover .info--menu__logout--link {
  box-shadow: 0 0px 4px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.info--menu__function--link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  width: 100%;
  height: auto;
  transition: all 0.12s ease-in-out;
  -webkit-transition: all 0.12s ease-in-out;
  -moz-transition: all 0.12s ease-in-out;
  -ms-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
}

.info--menu__function--img--box {
  width: 40px;
  height: 40px;
}

.info--menu__function--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info--menu__function--label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}

.info--menu__logout {
  width: 100%;
  margin-top: 40px;
}

.info--menu__logout--link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.12s ease-in-out;
  -webkit-transition: all 0.12s ease-in-out;
  -moz-transition: all 0.12s ease-in-out;
  -ms-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  border: none;
  outline: none;
  background-color: white;
  width: 288px;
}

.info--menu__logout--img--box {
  width: 40px;
  height: 40px;
}

.info--menu__logout--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info--menu__logout--label {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}

.section__info--display {
  background-color: #fff;
  flex: 1;
  margin-left: 60px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 40px;
}

.section__info--display--box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section__info--display--label {
  font-size: 18px;
  font-weight: 600;
}

.section__info--display--textContent {
  font-size: 18px;
}

.input {
  outline: none;
  border: none;
}
